@function vw($px){
    @return ($px / 375) * 100vw
}

.reg{
    height: 100vh;
    background-color: #fff;
    nav{
        width: 100%;
        height: vw(65);
        padding: vw(10) 0;
        li{
            float: left;
            text-align: center;
            width: 25%;
            
            svg{
                width: vw(22);
                height: vw(22);
                color: #888;
            }
            span{
                display: block;
            }
        }
    }
    .reg_form{
        width: 60%;
        margin: vw(20) auto;
        background-color: #fff;
        .ant-form-item{
            width: 100%;
            margin-bottom: vw(16);
            .ant-form-item-label{
                width: 40%;
                padding: 0;
            }
        }
        
    }
}