@function vw($px){
    @return ($px / 375) * 100vw
}

.book{
    
    // 头部
    .head{
        height: vw(160);
        background-image: linear-gradient(to bottom, #58bc58, rgba(247, 240, 240, 0.829));
        .search_container{
            height: vw(60);
            display: flex;
            justify-content: space-around;
            align-items: center;
            font-size: 16px;
            padding: 0 vw(10);
            color: #fff;
            i{
                margin: 0 vw(3);
            }
            .search_box{
                margin: 0;
                background-color: #eee;
                height: vw(30);
                width: vw(200);
                border-radius: vw(20);
                padding: 0 vw(10);
                font-size: 14px;
                color: #666;
                input{
                    width: vw(120);
                    background-color: #eee;
                    line-height: vw(30);
                    margin-left: vw(10);
                }
            }
        }
        .userInfo{
            width: vw(336);
            height: vw(86);
            background-color: #fff;
            border-radius: vw(20);
            margin: 0 auto;
            padding: vw(14);
            img{
                width: vw(56);
                height: vw(56);
                float: left;
            }
            div{
                float: left;
                margin-left: vw(10);
                h3{
                    margin: vw(4) 0 0 0;
                    font-weight: bold;
                }
            }
        }
    }
    // 百科
    .advice_container{
        height: vw(150);
        .advice{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            li{
                width: 25%;
                
                img{
                    width: vw(50);
                    height: vw(56);
                    margin: vw(10) auto;
                }
            }
        }
    }
    // 轮播图
    .banner{
        padding: 0 vw(16);
        margin: vw(10) 0;
        // border-radius: vw(10);
        .items{
            height: vw(110);
            
            img{
                width: 100%;
                height: 100%;
                border-radius: vw(14);
            }
        }
    }
    // 
    .acticals_container{
        .content{
            
            .artical{
                height: vw(128);
                padding: vw(15);
                margin: vw(20);
                background-color: #fff;
                border-radius: vw(8);
                img{
                    height: vw(62);
                    width:vw(126);
                    border-radius: vw(6);
                    float: left;
                }
                .title{
                    width: vw(170);
                    float: left;
                    margin-left:vw(6);
                    h3{
                        font-size: vw(14);
                        margin: 0;
                    }
                    p{
                        width: 100%;
                        overflow: hidden;
                        text-overflow:ellipsis;
                        white-space: nowrap;
                        color: #999;
                        font-size: vw(12);
                        margin: vw(4) 0 0 0;
                    }
                }
                footer{
                    float: left;
                    width: 100%;
                    height: vw(26);
                    display: flex;
                    justify-content: space-between;
                    line-height: vw(26);
                    
                    margin-top: vw(12);
                    .user{
                        font-size: vw(12);
                        img{
                            width: vw(23);
                            height: vw(23);
                            border-radius: 50%;
                            margin-right: vw(8);
                        }
                    }
                    .favour{
                        color: #999;
                        span{
                            margin-left: vw(6);
                            i{
                                font-size: vw(12);
                                margin-left: vw(4);
                            }
                        }
                    }
                }
            }
        }
    }
}